.popup {
  background-color: rgba($color-black, 0.8);
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  &__close {
    &:link,
    &:visited {
      position: absolute;
      top: 3rem;
      right: 4rem;
      text-transform: uppercase;
      font-size: 3rem;
      text-decoration: none;
      color: gray;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover,
    &:active {
      color: $color-primary-light;
    }
  }

  &__content {
    @include center-inside;
    backface-visibility: hidden;
    background-color: $color-white;
    z-index: 3500;
    position: absolute;
    width: 75%;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.4);
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    transition: all 0.4s 0.2s ease-out;
  }

  &__left {
    // height: 75vh;
    display: table-cell;
    width: 35%;
    // vertical-align: middle;
  }

  &__right {
    display: table-cell;
    width: 65%;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    width: 100%;
    display: block;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    overflow-wrap: break-word;
    // hyphens: auto;
  }

  @include respond(phone) {
    &__close {
      &:link,
      &:visited {
        top: 1rem;
        right: 2rem;
      }
    }

    &__left {
      display: block;
      width: 100%;
      @include clear-fix;
    }

    &__right {
      display: block;
      width: 100%;
    }

    &__text {
      column-count: 1;
    }

    &__img {
      width: 50%;
      float: left;
      height: 15rem;
      object-fit: cover;
    }
  }
}
